Pillow
flask
h5py
ipykernel
keras_applications
keras_preprocessing
matplotlib
mock
numpy
scipy
sklearn
pandas
gevent
requests
tensorflow-gpu==2.9.3
cu90/torch-1.0.0-cp27-cp27mu-linux_x86_64.whl
torchvision==0.2.2
mlperf-compliance==0.0.7